
	<form action="/" method="post">
		<section id="shortdesc">
			<textarea name="short_description" placeholder="Title&hellip;"></textarea>
		</section>
		<section id="add">
			<textarea name="long_description" placeholder="Your Post&hellip;"></textarea>		
			<input type="submit" value="Post It!">
		</section>
		<section id="shortdesc">
			<textarea name="contact" placeholder="Preferred method of contact&hellip;"></textarea>
		</section>
	</form>



<% @posts.each do |post| %>
<article <%= 'class="complete"' if post.complete %>>
	<p class="title">
		<%=h post.short_description %>
	</p>

	<p class="longdescription">		
		<%=h post.long_description %>
		<span><a href="/<%= post.post_id %>">[edit]</a></span>
    </p>

    <p class="links">
    	<a href="/<%= post.post_id %>/complete">&#8623;</a>
    </p>

    <p class="meta">Created By <%= post.user %>: <%= post.posted_date %> Preferred Contact Info: <%= post.contact %></p>

</article>
<% end %>