	<form action="/" method="post" id="postbutton">
		<section id="shortdesc">
			<textarea name="short_description" placeholder="Title&hellip;"></textarea>
		</section>
		<section id="add">
			<textarea name="long_description" placeholder="Your Post&hellip;"></textarea>		
		</section>
		<section id="contact">
			<textarea name="contact" placeholder="Preferred method of contact&hellip;"></textarea>
			<input type="submit" value="Post It!" id="postit">
		</section>
	</form>

	<% current_user = Socket.gethostbyaddr(request.ip.split(".").map {|x| Integer(x)}.pack("CCCC"))[0].to_s[0..-17].capitalize %>
	<% @posts.each do |post| %>
	<article >
		<p class="title">
			<%=h post.short_description %>
		</p>

		<p class="longdescription">		
			<%=h post.long_description %>
			<span><a <%= 'style="display:none"' if current_user != post.user %> href="/<%= post.post_id %>">[edit]</a></span>
	    </p>
	    <!--<p class="links">
	    	<a href="/<%= post.post_id %>/complete">&#8623;</a>
	    </p>-->
	    
	    <p class="meta">Created By <%= post.user %>: <%= post.posted_date.strftime(fmt="%m/%d/%Y %T") %> <span <%= 'style="display:none"' if post.updated_date == post.posted_date %>>Updated: <%= post.updated_date.strftime(fmt="%m/%d/%Y %T") %></span><br> Preferred Contact Info: <%= post.contact %></p>


	</article>
	<% end %>


